{% extends "base.html" %}

{% load static %}
{% load extras %}

{% block content %}
<div class="container-fluid ">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 custom-dashboard">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start list-items "
                    id="menu">
                    <hr>
                    <li class="nav-item page-item ">
                        <a href="#" class="nav-link align-middle text-dark px-3 h5">
                            <span class="ms-1 d-none d-sm-inline">OverView</span>
                        </a>
                    </li>
                    <li class="nav-item page-item ">
                        <a href="#" class="nav-link align-middle text-dark px-3 h5">
                            <span class="ms-1 d-none d-sm-inline">Bank</span>
                        </a>
                    </li><li class="nav-item page-item ">
                        <a href="#" class="nav-link align-middle text-dark px-3 h5">
                            <span class="ms-1 d-none d-sm-inline">Investments</span>
                        </a>
                    </li><li class="nav-item page-item ">
                        <a href="#" class="nav-link align-middle text-dark px-3 h5">
                            <span class="ms-1 d-none d-sm-inline">Something else</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li> -->
                    

            </div>
        </div>
        <div class="col custom-area">
            <h3>OverView</h3>
            <hr>
            <div class="row" >
                <div class="col">
                    <div class="card" style="border: none;">
                        <div class="card-body fun-money">
                          <h5 class="card-title">Fun Money</h5>
                          <h5 class="card-title">$$$$$</h5>
                          <footer>
                              <a href="#" class="btn btn-light glass-btn">Passbook</a>
                          </footer>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <h1>"Bonds Data"</h1>
    <pre>{{ DataJson | pretty_json }}</pre>
</div> -->

{% endblock content %}